/* BLACK SCREEN TO TRANSPARENT */
@keyframes whiteToTransparent {
    0% {
        background: white;
    }
    100% {
        background: transparent;
    }
}
/* BLACK SCREEN TO TRANSPARENT */



/* TEXT RUNNING */
@keyframes textRunning1 {
    from {
        transform: translateX(0%);  
    }
    to {
        transform: translateX(-50%);
    }
}

@keyframes textRunning2 {
    0% {
        transform: translateX(0%);  
    }
    100% {
        transform: translateX(-200%);
    }
}
/* TEXT RUNNING */



/* DOT FLASHING */
@keyframes dotFlashing {
    0% {
        background-color: var(--yellow);  
    }
    50% {
        background-color: white; 
    }
}
/* DOT FLASHING */



/* TASK BUTTON FLASHING */
@keyframes taskButtonFlashing {
    0% {
        background-color: black;
        color: white;
    }
    100% {
        background-color: var(--yellow);
        color: black;
    }
}
/* TASK BUTTON FLASHING */



/* FADE IN OPACITRY 0 TO 1 */
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* FADE IN OPACITRY 0 TO 1 */

/* FADE OUT OPACITRY 1 TO 0 */
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/* FADE OUT OPACITRY 1 TO 0 */