/* BLACK SCREEN TO TRANSPARENT */
@keyframes whiteToTransparent {
    0% {
        background: white;
    }
    100% {
        background: transparent;
    }
}

/* TEXT RUNNING */
@keyframes textRunning {
    0% {
        transform: translateX(146%);  
    }
    100% {
        transform: translateX(-146%);
    }
}
/* TEXT RUNNING */



/* DOT FLASHING */
@keyframes dotFlashing {
    0% {
        background-color: var(--yellow);  
    }
    100% {
        background-color: white; 
    }
}
/* DOT FLASHING */



/* TASK BUTTON FLASHING */
@keyframes taskButtonFlashing {
    0% {
        background-color: black;
        color: white;
    }
    100% {
        background-color: var(--yellow);
        color: black;
    }
}
/* TASK BUTTON FLASHING */
