body {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    margin: 0;
    padding: 0;
    opacity: 1;
    transition: 0.5s;
}
body::-webkit-scrollbar {
    display: none;
}

.scroll-arrow {
    position: fixed;
    bottom: calc(var(--grid) * 1.15);
    right: calc(var(--grid) * 1.23);
    width: calc(var(--grid) * 1.5);
    height: calc(var(--grid) * 1.5);
    transition: 0.5s;
    z-index: 100;
}

.scroll-text {
    position: fixed;
    top: calc(var(--grid) * 1);
    right: calc(var(--grid) * 1);
    width: calc(var(--grid) * 5);
    height: calc(var(--grid) * 1.5);
    font-size: 2vw;
    z-index: 100;
}

.left-side-nav {
    width: calc(var(--grid) * 2);
    height: calc(var(--grid) * 190.1);
    border-right: 1px solid black;
}

/* All Content */
.all-content {
    width: calc(var(--grid) * 37);
    height: calc(var(--grid) * 189.1);
}
.top-edge {
    width: 100%;
    height: calc(var(--grid) * 1);
    border-bottom: 1px solid black;
}
.edge-and-content {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}
.left-edge {
    width: calc(var(--grid) * 1);
    height: 100%;
    border-right: 1px solid black;
}

/* Content */
.content {
    position: relative;
    width: calc(var(--grid) * 36);
    height: 100%;
}
.grid-bg {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Database Content */
.database-content-area {
    position: relative;
    width: 100%;
    height: calc(var(--grid) * 64);
}

/* Database Box */
.database-area {
    margin: 0;
    padding: 0;
    position: absolute;
    display: inline-block;
    width:  calc(var(--grid) * 4);
    height: calc(var(--grid) * 7);
    z-index: 10;
}
.database-box {
    margin: 0;
    padding: 0;
    display: flex;
    width:  100%;
    height: calc(var(--grid) * 1);
    border: 1px solid black;
    transition: 0.25s;
    cursor: pointer;
}
.database-box:hover {
    background-color: var(--grey1);
}
.yellow-dot-box, .address-number-box {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.yellow-dot-box {
    justify-content: center;
    width: calc(var(--grid) * 1);
    height: 100%;
}
.address-number-box {
    justify-content: end;
    width: calc(var(--grid) * 3);
    height: 100%;
}
.yellow-dot {
    width: calc(var(--grid) * 0.45);
    height: calc(var(--grid) * 0.45);
    border: 1px solid black;
    border-radius: 50%;
    animation: 1s dotFlashing infinite step-end;
}
.address-number-text {
    margin: 0 0.8vw 0 0;
    font-size: 1.5vw;
}
.img-hidden {
    margin: 0;
    padding: 0;
    display: none;
    width:  100%;
    height:  calc(var(--grid) * 6);
    opacity: 0;
    z-index: 10;
}
.product-hidden {
    width: 99%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.product-text {
    margin: 0;
    padding: 0;
    font-size: 1.5vw;
}
.info-hidden-box {
    position: absolute;
    width: calc(var(--grid) * 5);
    height: calc(var(--grid) * 4);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border: 1px solid black;
}
.info-text {
    margin: 0 0 0 1vw;
    padding: 0;
    font-size: 1.5vw;
}
/* Database 1 */
#database-1 {
    top: calc(var(--grid) * 8);
    left: calc(var(--grid) * 6);
}
#info-1 {
    transform: translateX(calc(var(--grid)*2)) translateY(calc(var(--grid)*-9));
}
/* Database 2 */
#database-2 {
    top: calc(var(--grid) * 6);
    left: calc(var(--grid) * 28);
}
#info-2 {
    transform: translateX(calc(var(--grid)*-3)) translateY(calc(var(--grid)*-9));
}
/* Database 3 */
#database-3 {
    top: calc(var(--grid) * 14);
    left: calc(var(--grid) * 12);
}
#info-3 {
    transform: translateX(calc(var(--grid)*2)) translateY(calc(var(--grid)*-9));
}
/* Database 4 */
#database-4 {
    top: calc(var(--grid) * 29);
    left: calc(var(--grid) * 1);
}
#info-4 {
    transform: translateX(calc(var(--grid)*2)) translateY(calc(var(--grid)*-9));
}
/* Database 5 */
#database-5 {
    top: calc(var(--grid) * 35);
    left: calc(var(--grid) * 6);
}
#info-5 {
    transform: translateX(calc(var(--grid)*2)) translateY(calc(var(--grid)*-9));
}
/* Database 6 */
#database-6 {
    top: calc(var(--grid) * 53);
    left: calc(var(--grid) * 1);
}
#info-6 {
    transform: translateX(calc(var(--grid)*2)) translateY(calc(var(--grid)*-9));
}
/* Database 7 */
#database-7 {
    top: calc(var(--grid) * 62);
    left: calc(var(--grid) * 6);
}
#info-7 {
    transform: translateX(calc(var(--grid)*2)) translateY(calc(var(--grid)*-9));
}
/* Database 8 */
#database-8 {
    top: calc(var(--grid) * 2);
    left: calc(var(--grid) * 1);
}
#info-8 {
    transform: translateX(calc(var(--grid)*2)) translateY(calc(var(--grid)*-9));
}


.subnet-content-area-top, .www-content-area-top {
    position: relative;
    width: 100%;
}

/* Subnet Content Area */
.subnet-content-area {
    position: relative;
    width: 100%;
    height: calc(var(--grid) * 21.93);
}

.sub-network {
    position: absolute;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: calc(var(--grid) * 6);
    height: calc(var(--grid) * 7);
    border: 1px solid black;
    transform: translateY(50%);
    transition: 0.5s;
    opacity: 0;
    cursor: pointer;
}
.sub-network:hover {
    transition: 0.25s;
    background-color: var(--yellow);
}
.subnet-topic-area {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: calc(var(--grid) * 1.5);
    transition: 0.25s;
}
.subnet-pic-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(var(--grid) * 5.5);
    transition: 0.25s;
}
.subnet-topic-text {
    margin: 0;
    padding: 0;
    font-size: 2vw;
    text-decoration: underline;
    transition: 0.25s;
}
.subnet-large-topic-area {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: calc(var(--grid) * 4);
    transition: 0.25s;
}
.subnet-large-topic-text {
    margin: 0 2vw 0 2vw;
    padding: 0;
    font-size: 2.5vw;
    font-weight: bold;
    transition: 0.25s;
}
.subnet-content-box-area {
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: calc(var(--grid) * 5.5);
    transition: 0.25s;
}
.subnet-content-text {
    text-align: start;
    margin: 0 1.5vw 0 1.5vw;
    padding: 0;
    font-size: 1.6vw;
    transition: 0.25s;
}

/* Sub Net 1 */
#sub-net-1 {
    top: calc(var(--grid)*7);
    left: calc(var(--grid)*8);
}

/* Sub Net 2 */
#sub-net-2 {
    top: calc(var(--grid)*7);
    left: calc(var(--grid)*14);
}

/* Sub Net 3 */
#sub-net-3 {
    top: calc(var(--grid)*7);
    left: calc(var(--grid)*20);
}

/* Sub Net 4 */
#sub-net-4 {
    top: calc(var(--grid)*7);
    left: calc(var(--grid)*26);
}



/* WWW Content Area */
.www-content-area {
    position: relative;
    width: 100%;
    height: calc(var(--grid) * 21.93);
}
/* WORLD WIDE WEAVE */
.www {
    position: absolute;
    width: calc(var(--grid) * 32);
    height: calc(var(--grid) * 18);
    bottom: 0;
    right: 0;
}
.sub-www {
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    transition: 0.5s;
}
#world {
    height: 100%;
    border: 1px solid black;
    transform: translateY(calc(var(--grid) * 18));
}
#wide {
    height: calc(var(--grid) * 13);
    border: none;
    border-top: 1px solid black;
    transform: translateY(calc(var(--grid) * 13));
}
#weave {
    height: calc(var(--grid) * 8);
    border: none;
    border-top: 1px solid black;
    transform: translateY(calc(var(--grid) * 8));
}
/* WWW Content */
.www-content {
    display: flex;
    height: calc(var(--grid) * 5);
}
.www-content-topic {
    display: flex;
    justify-content: start;
    align-items: center;
    width: calc(var(--grid) * 10);
    height: 100%;
}
.www-content-pic {
    display: flex;
    justify-content: start;
    align-items: center;
    width: calc(var(--grid) * 5);
    height: 100%;
}
.www-content-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: calc(var(--grid) * 17);
    height: 100%;
}
.footer-next-page {
    display: flex;
    height: calc(var(--grid) * 3);
    transition: 0.5s;
    opacity: 0;
}
.before-pic-area {
    display: flex;
    justify-content: end;
    align-items: start;
    width: calc(var(--grid) * 25);
    height: 100%;
}
.before-button-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--grid) * 7);
    height: 100%;
}
/* WWW Sub Content (Font, Pic, Info, Button)*/
.www-num {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    margin-left: 2vw;
    margin-top: 1.5vw;
    padding: 0;
    font-size: 2.5vw;
}
.www-topic-font {
    margin: 0;
    margin-left: 4vw;
    margin-top: 1.5vw;
    padding: 0;
    font-size: 6vw;
}
.www-info-font {
    margin: 0;
    margin-left: 15vw;
    padding: 0;
    font-size: 1.8vw;
}
.before-pic {
    width: calc(var(--grid) * 9);
    height: calc(var(--grid) * 2);
}
.before-button {
    width: calc(var(--grid) * 4);
    height: calc(var(--grid) * 1);
    font-size: 1.5vw;
    transition: 0.25s;
    cursor: pointer;
}
.before-button:hover {
    background-color: var(--blue);
    color: var(--white);
}