body {
    max-width: 1920px;
    max-height: 1080px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.login-page {
    margin: 0;
    padding: 0;
    display: block;
    height: 100vh;
}

.head {
    position: relative;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 4.5vh;
    overflow-wrap: normal;
    overflow-x: hidden;
    border-color:black;
    border-bottom: 1px;
    border-bottom-style: solid;

    overflow-x: hidden;
    white-space: nowrap;
    z-index: 0;
}

#text-head1, #text-head2 {
    position: relative;
    display: inline-block;
    margin: 0;
    margin-left: 0.5vw;
    top: 0;
    left: 0;
    font-size: 1.7vw;
    transform: translateX(0%);
}
#text-head1 {
    animation: textRunning1 20s linear infinite;
}
#text-head2 {
    animation: textRunning2 20s linear infinite;
    animation-delay: 9.95s;
}

.row2 {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 75vh;
    overflow-wrap: normal;
    border-color:black;
    border-bottom: 1px;
    border-bottom-style: solid;
}

.row3 {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 20.5vh;
}

.col1 {
    margin: 0;
    padding: 0;
    width: 5vw;
    border-color: black;
    border-right: 1px;
    border-right-style: solid;
}

.col2 {
    margin: 0;
    padding: 0;
    width: 20vw;
    border-color: black;
    border-right: 1px;
    border-right-style: solid;
}

.col3 {
    margin: 0;
    padding: 0;
    width: 75vw;
}

#username-box, #user-pic-box {
    display: flex;
    align-items: center;
    height: 10.25vh;
    border-color: black;
    border-top: 1px;
    border-top-style: solid;
    border-bottom: 1px;
    border-bottom-style: solid;
    transition: 0.5s;
}

/* #user-pic-box {
    transform: translateY(-15vh);
} */

.space-text-area {
    height: 64.75vh;
    display: flex;
    justify-content: center;
    align-items: end;
    transform: scaleY(1);
    transform-origin: 100% 0;
    transition: 0.5s;
}

#space-text {
    font-size: 1.7em;
}

.avatar-text-area, .input-text-area {
    width: 12vw;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.avatar-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.avatar-text p {
    font-size: 1.5em;
    margin: 0 0 0 10px;
    padding: 0;
}

#picture-pick {
    display: flex;
    overflow-y: hidden;
    justify-content: center;
    align-items: center;
    height: 64.75vh;
    transform: translateY(-64.75vh) scaleY(0);
    transform-origin: 0 100%;
    transition: 0.5s;
}

.picture-wrap {
    display: inline-block;
    overflow-y: scroll;
    margin: 10px;
    height: 60vh;
}

/* width */
.picture-wrap::-webkit-scrollbar {
    /* display: none; */
    width: 1.5vw;
}

/* Track */
.picture-wrap::-webkit-scrollbar-track {
  background: white;
}
 
/* Handle */
.picture-wrap::-webkit-scrollbar-thumb {
  background-color: var(--yellow);
  border: 5px solid white;
}

/* Handle on hover */
.picture-wrap::-webkit-scrollbar-thumb:hover {
  background: blue; 
}

.picture-wrap::-webkit-scrollbar-track-piece:end {
    background: transparent;
}

.picture-wrap::-webkit-scrollbar-track-piece:start {
    background: transparent;
}

.picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 30vh;
}

.img-select-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
}

.circle-area {
    width: 4vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#circle {
    margin: 0 10px 0 10px;
    padding: 0;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    animation: 1s dotFlashing infinite step-end;
}

#input {
    margin: 0;
    padding: 0 10px 0 10px;
    width: 12vw;
    height: 5vh;
    font-size: 1.5em;
    box-sizing: border-box;
    border: none;
    border-bottom: 0px;
}

.arrow-button-area {
    width: 4vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 10px 0 10px;
    padding: 0;
    width: 2.2vw;
    height: 2.2vw;
    border: 1px solid black;
    cursor: pointer;
}

#edit-button-icon {
    display: none;
    width: 100%;
}

.fa-angle-up {
    display: block;
    font-size: 2.5em;
}

.fa-pen-to-square {
    display: none;
    font-size: 2em;
}

i {
    color: var(--blue);
    transition: 0.5s
}


.welcome-pic {
    margin-left: 10vw;
    width: 20vw;
}

.gif-wrap {
    height: 63vh;
    display: flex;
    justify-content: center;
    align-items: end;
}

.data-tracking-text {
    font-size: 1.8em;
}

.data-text-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
}

#www-logo {
    width: 65vw;
}