body {
    margin: 0;
    overflow: hidden;
    padding: 0;
    background-size: contain;
    width: 1920px;
    height: 1080px;
    max-width: 1920px;
    max-height: 1080px;
}

button {
    cursor: pointer;
}

.page {
    height: 100%;
    width: 100%;
}

.zoneLogo {
    padding-top: 15%;
}

/* Guide styling : Copy here */
#guide {
    width: 1920px;
    height: 1080px;
    position: absolute;
    z-index: 3;
}

#greyArea {
    width: 1920px;
    height: 1080px;
    position: absolute;
    opacity: 50%;
    z-index: 1;
    background-color: #D9D9D9;
}

#guidePic {
    width: 1920px;
    height: 1080px;
    position: absolute;
    z-index: -4;
}

#bgGuide {
    width: 1166px;
    height: 1050px;
    position: absolute;
    left: 759px;
    top: 3.5px;
    background: url(/zone02/asset/bg_zoneGuide.png);
    transition: opacity 2s;
}

#guideEle {
    position: absolute;
    top: 45%;
    right: 13.3%;
}

#hideButton {
    font-size: 40px;
    width: 42px;
    height: 42px;
    color: #0D3BFC;
    border: none;
    background: none;
    position: absolute;
    right: 5%;
    top: 10%;
}

#hintButton {
    background: #D0FF0B;
    border: solid 1.5px black;
    border-radius: 5px;
    bottom: 4.6%;
    color: #0D3BFC;
    font-size: 30px;
    position: absolute;
    width: 45px;
    height: 47px;
    right: 2.8%;
    z-index: -2;
}

#areaText {
    border: solid 1px;
    font-size: 20px;
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    width: 120px;
    height: 25px;
    bottom: 3.7%;
    left: 835px;
}

/* How to play */
#guide01 {
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 11%;
    animation: fadeClear 0.7s 1;
}

#guide02 {
    display: none;
    position: absolute;
    z-index: 1;
    bottom: 41%;
    right: 18.5%;
}

#guide01 button, #guide02 button {
    border: none;
    background: none;
}

#guide01Bt {
    position: absolute;
    right: 8%;
    bottom: 6%;
}

#guide02Bt {
    position: absolute;
    top: 48%;
    left: 80%;
    color: #D0FF0B;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.col01 {
    width: 100px;
    background: #D9D9D9;
    position: relative;
}

.col02 {
    border: 1px solid;
    border-left-width: 0px;
    border-bottom-width: 0px;
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url(/zone02/game/bg/bg_zone2-2.png);
    background-repeat: no-repeat;
}

#endingZone {
    width: 93%;
    position: absolute;
    top: 100%;
    left: 5.2%;
    z-index: 4;
}

.indent {
    padding-left: 7%;
}

.box {
    width: 100%;
    height: 100%;
    left: 0%;
}

/* Question for quiz zone */
.quizBlock {
    width: 657px;
    display: flex;
    flex-direction: column;
}

.colName {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5%;
    font-size: 30px;
}

.question {
    color: #0D3BFC;
    background: white;
    border: solid 0.5px black;
    border-right: 0;
    font-size: 35px;
    padding: 2%;
    padding-left: 7%;
    text-align: start;
    position: relative;
}

.noti {
    position: absolute;
    right: 50px;
    top: 18px;
}

.sendBt {
    color: #0D3BFC;
    border: solid 1px;
    border-radius: 0;
    cursor: default;
    font-size: 30px;
    position: absolute;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    right: 3%;
    bottom: 7%;
    text-decoration: underline 2px;
}

.quest {
    background-color: #D9D9D9;
    border: solid 0.5px;
    border-right: 0;
    border-top: 0;
    display: none;
    font-size: 30px;
    padding: 2%;
    padding-top: 10%;
    padding-left: 7%;
    position: relative;
}

/* target -re target  */
.moreInfo {
    border: 0;
    width: 200px;
    height: 51px;
    background-image: url(/zone02/game/gameGuide/button_targeting.png);
    position: absolute;
    top: 0;
    right: 0;
}

.moreInfoRe {
    border: 0;
    width: 200px;
    height: 51px;
    background-image: url(/zone02/game/gameGuide/button_retarget.png);
    position: absolute;
    top: 0;
    right: 0;
}

#hideBt1, #hideBt2, #hideBt3 {
    border: none;
    background: none;
    color: #D0FF0B;
    font-size: 30px;
    position: absolute;
    z-index: -3;
    bottom: 8%;
    right: 8%;
    text-decoration: underline 2px;
}

#info01, #info02, #info03 {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    height: 0;
    width: 0;
}

/* user data zone*/
.clients {
    display: none;
    width: 51%;
    height: 100%;
    opacity: 0;
    padding-left: 9%;
    position: relative;
}

.userData {
    border: solid 1px;
    width: 204px;
    height: 50px;
    position: absolute;
    /* opacity: 0; */
}

/* each user styling button to open user's pic : Client 01 */
#user11 {
    top: 18.2%;
    left: 100px;
    background-image: url(/zone02/game/user/quiz1/01kwanjira/boxdata_1-1.png);
}

#user12 {
    top: 18.2%;
    left: 352px;
    background-image: url(/zone02/game/user/quiz1/02kochaporn/boxdata_1-2.png);
}

#user13 {
    top: 13.6%;
    left: 654px;
    background-image: url(/zone02/game/user/quiz1/03phuriwat/boxdata_1-3.png);
}

#user14 {
    top: 18.2%;
    left: 857px;
    background-image: url(/zone02/game/user/quiz1/04panupon/boxdata_1-4.png);
}

#user15 {
    top: 50%;
    left: 100px;
    background-image: url(/zone02/game/user/quiz1/05atitan/boxdata_1-5.png);
}

#user16 {
    top: 45.5%;
    left: 654px;
    background-image: url(/zone02/game/user/quiz1/06pimpa/boxdata_1-6.png);
}

#user17 {
    top: 50%;
    left: 857px;
    background-image: url(/zone02/game/user/quiz1/07dolawa/boxdata_1-7.png);
}

/* each user styling button to open user's pic : Client 02 */
#user21 {
    top: 27.2%;
    left: 199px;
    background-image: url(/zone02/game/user/quiz2/01sunisa/boxdata_2-1.png);
}

#user22 {
    top: 18.2%;
    left: 402px;
    background-image: url(/zone02/game/user/quiz2/02pongsapak/boxdata_2-2.png);
}

#user23 {
    top: 50%;
    left: 655px;
    background-image: url(/zone02/game/user/quiz2/03merisa/boxdata_2-3.png);
}

#user24 {
    top: 40.8%;
    left: 910px;
    background-image: url(/zone02/game/user/quiz2/04pat/boxdata_2-4.png);
}

#user25 {
    top: 59%;
    left: 200px;
    background-image: url(/zone02/game/user/quiz2/05chomanad/boxdata_2-5.png);
}

/* each user styling button to open user's pic : Client 03 */
#user31 {
    top: 18.2%;
    left: 100px;
    background-image: url(/zone02/game/user/quiz3/01chaninee/boxdata_3-1.png);
}

#user32 {
    top: 18.2%;
    left: 352px;
    background-image: url(/zone02/game/user/quiz3/02preeyada/boxdata_3-2.png);
}

#user33 {
    top: 13.6%;
    left: 654px;
    background-image: url(/zone02/game/user/quiz3/03narit/boxdata_3-3.png);
}

#user34 {
    top: 18.1%;
    left: 857px;
    background-image: url(/zone02/game/user/quiz3/04veerapol/boxdata_3-4.png);
}

#user35 {
    top: 50%;
    left: 100px;
    background-image: url(/zone02/game/user/quiz3/05sunisa/boxdata_3-5.png);
}

/* user profile pic styling */
.user {
    display: none;
    width: auto;
    height: auto;
    position: absolute;
    /* opacity: 0; */
}

/* user profile pic styling for client01 */

#user01 {
    top: 22.7%;
    left: 100px;
}

#user02 {
    top: 22.8%;
    left: 352px;
}

#user03 {
    top: 18.2%;
    left: 654px;
}

#user04 {
    top: 22.6%;
    left: 857px;
}

#user05 {
    top: 54.5%;
    left: 100px;
}

#user06 {
    top: 50%;
    left: 654px;
}

#user07 {
    top: 54.4%;
    left: 857px;
}

.userimg {
    width: initial;
}

/* user profile pic styling for client : 02 */
#user012 {
    top: 31.6%;
    left: 199px;
}

#user022 {
    top: 22.6%;
    left: 402px;
}

#user032 {
    top: 54.5%;
    left: 655px;
}

#user042 {
    top: 45.4%;
    left: 910px;
}

#user052 {
    top: 63.5%;
    left: 200px;
}

/* user profile pic styling for client : 03 */
#user013 {
    top: 22.7%;
    left: 100px;
}

#user023 {
    top: 22.8%;
    left: 352px;
}

#user033 {
    top: 18.1%;
    left: 654px;
}

#user043 {
    top: 22.6%;
    left: 857px;
}

#user053 {
    top: 54.5%;
    left: 100px;
}


.showDataBt {
    background: none;
    border: none;
    bottom: 2%;
    font-size: 35px;
    color: #D0FF0B;
    text-decoration: underline;
    position: absolute;
    left: 28%;
    animation: flashText 0.7s infinite;
}

.forDecision {
    display: none;
    background-image: url(/zone02/game/bg/box5-z2.png);
    position: relative;
    top: 9.1%;
    left: 63.8%;
    width: 36%;
    height: 81.7%;
    z-index: 3;
    background-color: #D0FF0B;
}

.closeBt {
    border: none;
    background: none;
    color: #0D3BFC;
    font-size: 40px;
    position: absolute;
    top: 5%;
    left: 9%;
}

.interested {
    display: flex;
    flex-direction: column;
    height: 70%;
    overflow-y: scroll;
    padding: 20px;
    width: 75%;
    position: absolute;
    top: 13%;
    left: 5%;
}

.interested img {
    padding-bottom: 5%;
}

.chooseBt {
    background-image: url(/zone02/game/bg/button_choose.png);
    bottom: 5%;
    left: 27%;
    border: none;
    position: absolute;
    width: 152px;
    height: 49px;
}

#arrow {
    position: absolute;
    right: 5%;
    bottom: 13.5%;
    width: 13%;
    height: 13%;
    border: solid 1px black;
    border-radius: 3px;
    text-align: center;
    animation: blink 0.8s infinite;
}

/* styling scroll bar */
.interested::-webkit-scrollbar {
    width: 10px;
    border: 1px solid;
    border-radius: 2px;
}

.interested::-webkit-scrollbar-thumb {
    background-color: #0D3BFC;
    border: 1px solid;
    border-radius: 3px;
}

.showRequire {
    display: block;
}

#alertBG {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 60%;
    background: #D9D9D9;
    transition: opacity 2s;
    z-index: 5;
}

#alert{
    display: none;
    position: absolute;
    left: 39%;
    top: 36.6%;
    z-index: 6;
    /* opacity: 60%; */
    transition: opacity 2s;
}

#alert button {
    border: solid 0.5px black;
    background: none;
    color: #0D3BFC;
    cursor: pointer;
    text-align: center;
    width: 150px;
    height: 50px;
    /* padding-left: 10px; */
    font-size: 40px;
    position: absolute;
    left: 35%;
    top: 70%;
    z-index: 6;
}

/* Animation for button */
@keyframes blink {
    50% {
        background-color: #D0FF0B;
    }
    100% {
        background-color: white;
    }
}

/* guide tool */
@keyframes fadeClear {
    25% {
        opacity: 60%;
    }
    50% {
        opacity: 80%;
    }
    100% {
        opacity: 100%;
    }
}

/* slide in */
@keyframes slideIn {
    50% {
        top: 3%;
    }
    100% {
        top: 0;
    }
}

/* flash text animation */
@keyframes flashText {
    50% {
        color: white;
    }
    100% {
        color: #D0FF0B;
    }
}
